* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
  font-size: 13px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
}
body main {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 8px 4px #ddd;
  width: 75%;
  max-width: 1200px;
  display: flex;
}
body main .pic {
  width: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
body main .post {
  padding: 50px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .post article {
  margin-bottom: 20px;
  flex-basis: 70%;
}
body main .post article h1 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-bottom: 20px;
}
body main .post article p {
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
  line-height: 1.6;
  word-spacing: 2px;
}
body main .post section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .post section .notes {
  display: flex;
  align-items: center;
}
body main .post section .notes img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
body main .post section .notes hgroup {
  padding: 10px;
}
body main .post section .notes hgroup h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-bottom: 6px;
}
body main .post section .notes hgroup p {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
  word-spacing: 2px;
}
body main .post section .sharing {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .post section .sharing button {
  width: 40px;
  height: 40px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  border: none;
}
body main .post section .sharing button img {
  width: 18px;
}
body main .post section .sharing button.clicked {
  background-color: hsl(214, 17%, 51%);
}
body main .post section .sharing button.clicked img {
  filter: brightness(250%);
}
body main .post section .sharing ul {
  padding: 0 30px;
  width: 240px;
  height: 50px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -80px;
}
body main .post section .sharing ul li {
  list-style-type: none;
  margin: 0 6px;
}
body main .post section .sharing ul li:first-child {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: hsl(210, 46%, 95%);
  letter-spacing: 6px;
}
body main .post section .sharing ul li img {
  vertical-align: middle;
}
body main .post section .sharing p {
  content: "";
  width: 20px;
  height: 20px;
  background-color: hsl(217, 19%, 35%);
  visibility: hidden;
  position: absolute;
  top: -40px;
  transform: rotate(45deg);
}
body main .post section .sharing ul.shown,
body main .post section .sharing p.shown {
  visibility: visible;
}

@media screen and (max-width: 830px) {
  body main {
    width: 80%;
  }
  body main .post {
    padding: 30px 30px 20px 30px;
  }
  body main .post article h1 {
    font-size: 1.7rem;
  }
  body main .post article p {
    line-height: 1.5;
  }
  body main .post section .notes img {
    width: 40px;
  }
  body main .post section .notes hgroup {
    padding: 0px;
  }
  body main .post section .notes hgroup h2 {
    margin-bottom: 4px;
  }
  body main .post section .sharing button {
    width: 30px;
    height: 30px;
  }
  body main .post section .sharing button img {
    width: 14px;
  }
  body main .post section .sharing ul {
    padding: 0 10px;
    width: 180px;
  }
  body main .post section .sharing ul li {
    margin: 0 2px;
  }
  body main .post section .sharing ul li:first-child {
    letter-spacing: 4px;
  }
}
@media screen and (max-width: 650px) {
  body {
    padding: 30px 10px;
  }
  body main {
    width: 85%;
    flex-direction: column;
    position: relative;
  }
  body main .pic {
    width: 100%;
    max-height: 360px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  body main .post article h1 {
    font-size: 1.6rem;
  }
  body main .post article p {
    line-height: 1.4;
    margin-bottom: 20px;
  }
  body main .post section .notes img {
    margin-right: 16px;
  }
  body main .post section .notes hgroup h2 {
    margin-bottom: 4px;
  }
  body main .post section .sharing {
    position: static;
  }
  body main .post section .sharing button {
    z-index: 10;
  }
  body main .post section .sharing ul {
    width: 100%;
    height: 80px;
    border-radius: 0 0 20px 20px;
    justify-content: flex-start;
    position: absolute;
    top: calc(100% - 80px);
    left: 0;
  }
  body main .post section .sharing ul li {
    margin: 0 10px;
  }
  body main .post section .sharing p {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  body main .post article {
    margin-bottom: 30px;
  }
  body main .post section .notes img {
    width: 30px;
    margin-right: 10px;
  }
  body main .post section .notes hgroup h2 {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  body main .post section .notes hgroup p {
    font-size: 0.9rem;
  }
  body main .post section .sharing ul li {
    margin: 0 6px;
  }
}/*# sourceMappingURL=style.css.map */